mixin page-footer(mods)

  footer.page-footer
    .page-footer__logo-wrapper
      a(href="/")
        <strong>JUST</strong>SHOP
    ul.page-footer__list
      li
        a(href="#") О компании
      li
        a(href="contacts.html") Контакты
      li
        a(href="#") Карта сайта
    ul.page-footer__list
      li
        a(href="#") Доставка
      li
        a(href="#") Галерея
      li
        a(href="#") Блог
    ul.page-footer__list
      li
        a(href="catalogue.html") Каталог
      li
        a(href="cart.html") Моя корзина
      li
        a(href="#") Помощь
    .page-footer__socials
      a(class="page-footer__soc-icon page-footer__soc-icon--fb" href="#")
      a(class="page-footer__soc-icon page-footer__soc-icon--gp" href="#")
      a(class="page-footer__soc-icon page-footer__soc-icon--tw" href="#")
      a(class="page-footer__soc-icon page-footer__soc-icon--in" href="#")
    .page-footer__copyright &copy; 2018 JustShop



