mixin page-footer(mods)

  footer.page-footer
    .page-footer__logo-wrapper
      a(href="index.html")
        <strong>JUST</strong>SHOP
    ul.page-footer__list
      li
        a(href="#") О компании
      li
        a(href="contacts.html") Контакты
      li
        a(href="#") Карта сайта
    ul.page-footer__list
      li
        a(href="#") Доставка
      li
        a(href="#") Галерея
      li
        a(href="#") Блог
    ul.page-footer__list
      li
        a(href="catalogue.html") Каталог
      li
        a(href="cart.html") Моя корзина
      li
        a(href="#") Помощь
    .page-footer__socials
      a(class="page-footer__soc-icon page-footer__soc-icon--fb" href="#")
        svg(width='32' height='32')
          use(xlink:href="img/sprite-svg.svg#facebook")
      a(class="page-footer__soc-icon page-footer__soc-icon--gp" href="#")
        svg(width='30' height='30')
          use(xlink:href="img/sprite-svg.svg#gplus")
      a(class="page-footer__soc-icon page-footer__soc-icon--tw" href="#")
        svg(width='25' height='25')
          use(xlink:href="img/sprite-svg.svg#twitter")
      a(class="page-footer__soc-icon page-footer__soc-icon--in" href="#")
        svg(width='25' height='25')
          use(xlink:href="img/sprite-svg.svg#instagram")
    .page-footer__copyright &copy; 2018 JustShop



