.page-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 20px;
  background-color: $black;

  &__logo-wrapper {
    width: 100%;
    margin-bottom: 20px;
    
    a {
      font-size: 28px;
      letter-spacing: 1px;
      color: $white;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;

    @media (min-width: $screen-sm) {
      width: 33.3%;
    }

    @media (min-width: $screen-lg) {
      width: 20%;
    }

    li {
      line-height: 39px;
    }

    a {
      padding: 11px 0;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;

    @media (min-width: $screen-lg) {
      margin-top: 0;
      width: 35%;
    }
  }

  &__soc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 55px;
    height: 55px;
    background-color: $darkest-grey;
    border-radius: 50%;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    svg {
      fill: $white;
      stroke: none;
    }
  }

  &__copyright {
    margin-top: 30px;
    width: 100%;
    font-size: 12px;
    color: $grey;
  }
}
