$container-xs:                100% - 24;
$container-sm:                426px;
$container-md:                716px;
$container-lg:                910px;
$container-xl:                968px;
$container-xxl:               968px;
$grid-gutter-width:           24px;

.contacts {
  &__top {
    @include container();
    margin-bottom: 50px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 25px;
  }

  &__map {
    height: 400px;
    background-color: $grey;
  }

  &__bottom {
    @include container();
  }

  &__bottom-header {
    font-size: 30px;
    line-height: 52px;
    margin-bottom: 8px;
  }

  &__bottom-text {
    line-height: 25px;

    span {
      margin-left: 5px;
      color: $color-main;
    }
  }

  &__form {
    @include row(24, 24, 0, 0, 0, 0);
    align-items: baseline;
    margin-bottom: 20px;
    font-size: 14px;

    label {
      @include col(xs, 1, 1, 0);
      @include col(md, 1, 7, 24);
    }

    label span {
      margin-left: 5px;
      color: $color-main;
    }

    input,
    textarea {
      @include col();
      @include col(md, 6, 7);
      margin-top: 10px;
      margin-bottom: 25px;
    }

    textarea {
      height: 100px;
    }

    .btn {
      flex: none;
      margin: 10px auto 40px;
    }
  }
}
