.menu {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 0 40px;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  min-height: 66px;
  border-bottom: 1px solid $light-grey;
}

.menu__icon {
  padding: 15px;
  width: 50px;
  height: 51px;
  cursor: pointer;

  &.js-open svg {
    stroke: $black;
  }

  &:first-of-type {
    display: block;
  
    @media(min-width: $screen-md) {
      display: none;
    }
  }

  &:nth-of-type(4) {
    position: relative;

    &::before {
      content: "2";
      position: absolute;
      top: 0;
      right: -2px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      font-size: 12px;
      font-weight: bold;
      color: $color-main;
      background-color: $light-grey;
      border-radius: 50%;

      @media(min-width: $screen-lg) {
        top: -4px;
        right: -6px;
        width: 24px;
        height: 24px;
        font-size: 14px;
      }
    }
  }
}

.menu__items {
  position: absolute;
  top: 66px;
  right: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-200%);
  transition: opacity 0.5s;

  @media(min-width: $screen-md) {
    position: static;
    opacity: 1;
    flex-direction: row;
    flex-grow: 1;
    width: auto;
    transform: translateY(0px);
    box-shadow: none;
  }

  .menu__icon:first-of-type.js-open ~ & {
    transform: translateY(0px);
    opacity: 1;
  }
}

.menu__item {
  padding: 15px 0;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $grey;
  border-bottom: 1px solid $light-grey;

  @media(min-width: $screen-md) {
    margin: 0 21px;
    width: auto;
    border: 0;
  }
}

.menu__search {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 65px;
  background-color: $white;

  @media (min-width: $screen-lg) {
    height: 79px;
  }

  .menu__icon:nth-of-type(3).js-open ~ & {
    display: flex;
  }

  input {
    margin-left: 20px;
    padding: 0 10px;
    width: calc(100% - 70px);
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border: 0;
  }

  button[name="search-close"] {
    padding: 15px;
    width: 50px;
    min-width: 50px;
    height: 51px;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
}

.menu__cart {
  position: absolute;
  top: 66px;
  right: 0;
  opacity: 0;
  width: 100%;
  background-color: $lighter-grey;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-200%);
  transition: opacity .5s;

  @media (min-width: $screen-md) {
    width: 550px;
  }

  @media (min-width: $screen-lg) {
    top: 80px;
  }

  .menu__icon:nth-of-type(4).js-open ~ & {
    opacity: 1;
    transform: translateY(0px);
}
}

.menu__cart-item {
  display: flex;
  align-items: flex-start;
  margin: 20px 10px 30px 20px;
  min-height: 100px;

  a {
    margin-right: 20px;
  }
  
  a img {
    width: 50px;
    min-width: 50px;
    border: 2px solid $white;

    @media (min-width: $screen-sm) {
      width: 100px;
    min-width: 100px;
    }
  }

  .icon-btn {
    position: relative;
    top: -10px;
  }

  .icon-btn[name="cart-edit"] {
    background-position: -45px 15px;
  }

  .icon-btn[name="cart-delete"] {
    background-position: -65px 15px;
  }
}

.menu__cart-item-desc {
  margin: 0 auto 0 0;

  a {
    font-size: 14px;
    color: $black;
  }

  span {
    display: block;
    font-weight: bold;
  }

  input {
    margin-top: 10px;
    padding: 0 5px;
    width: 70px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: $black;
    border: 0;
  }
}

.menu__cart-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 20px;

  @media(min-width: $screen-sm) {
    flex-direction: row;
    align-items: center;
  }

  h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;

    @media(min-width: $screen-sm) {
      margin-right: auto;
      margin-bottom: 0;
    }
  }

  h4 span {
    color: $color-main;
  }

  .btn {
    margin-bottom: 0;
  }
}
