mixin menu
  nav.menu
    .menu__icon
      svg(width='20' height='20')
        use(xlink:href="img/sprite-svg.svg#menu")
    .menu__items
      a.menu__item(href="index.html") Главная
      a.menu__item(href="catalogue.html") Каталог
      a.menu__item(href="#") Блог
      a.menu__item(href="#") Галерея
      a.menu__item(href="contacts.html") Контакты
    .menu__icon
      svg(width='20' height='20')
        use(xlink:href="img/sprite-svg.svg#search")
    form.menu__search
      input(placeholder="Введите вопрос...")
      button(name="search-close" type="button")
        svg(width='20' height='20')
          use(xlink:href="img/sprite-svg.svg#close")
    .menu__icon
      svg(width='20' height='20')
        use(xlink:href="img/sprite-svg.svg#cart")
    .menu__cart
      .menu__cart-item
        a(href="#")
          img(src="img/tobias.jpg")
        .menu__cart-item-desc
          a(href="#") Тобиас
          span 2 x 4800 ₽
          input(value="2")
        +icon-btn('cart-edit', 'edit')
        +icon-btn('cart-delete', 'trash')
      .menu__cart-item
        a(href="#")
          img(src="img/kullaberg.jpg")
        .menu__cart-item-desc
          a(href="#") Куллаберг
          span 2 x 4000 ₽
          input(value="2")
        +icon-btn('cart-edit', 'edit')
        +icon-btn('cart-delete', 'trash')
      .menu__cart-bottom
        h4 Всего: 
          span 17600 ₽
        +btn('Перейти в корзину', 'cart.html', 'small')