extends pug/layout.pug

block meta
  title Главная
  meta(name='description', content='123123')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()

block content
  +index-content()

block footer
  +page-footer()

//- block page-bottom
//-   script(src="js/some.js")
