extends pug/layout.pug

block meta
  title Страница товара
  meta(name='description', content='Страница товара')
  link(rel='stylesheet' href='css/swiper.min.css')


block header
  +page-header()

block content
  +product()
  
block footer
  +page-footer()

block prepend page-bottom
  script(src='js/swiper.min.js')
